<header class="site-header include" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="{{site.baseurl}}/images/header-logo.png" alt="Decision Points logo"/></a>


    {%- if page_paths -%}
      <nav class="site-nav  navbar navbar-expand-lg navbar-light bg-dark">

        <!-- bootstrap toggle -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li class="nav-item"><a class="page-link nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}




    </ul>






      </nav>
    {%- endif -%}
  </div>
</header>
