.include{
  border:1px solid red;
}

h1.include{
  color:red;
  font-size:.75em;
  font-weight: bold;
}


.layout{
  border:1px dotted green;
}

h1.layout{
  color:green;
  font-size: .75em;
  font-weight: bold;
}
